/* height width */
.h100 {
  height: 100%;
}
.h100v {
  height: 100vh;
}
.w100 {
  width: 100%;
}
.w100v {
  width: 100vw;
}
.hw100 {
  height: 100%;
  width: 100%;
}
.hw100v {
  height: 100vh;
  width: 100vw;
}

/*vertical horizontal center */
.vc {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.hc {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.c {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/* cursor pointer */
.pointer {
  cursor: pointer;
}

/* full height without navbar */
.fullHeight {
  height: calc(100vh - 80px);
}

.overflowX{
  overflow-x: hidden;
}
.overflowY{
  overflow-y: hidden;
}
.overflow{
  overflow: hidden;
}

.fixed{
  position: fixed;
}

.goToTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}

.search-box{
  padding: 10px 0;
  display: flex;
  width: 100%;
  background: linear-gradient(-45deg, #000000, #112031, #000000, #112031);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.search{
  padding-left: 10px;
  width: 50%;
  margin-left: auto;
  height: 40px;
  font-size: 16px;
  border:  1px solid black;
  border-right: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.search:focus{
  outline: none;
}
.search-icon{
  margin-right: auto;
  cursor: pointer;
  background: snow;
  color:turquoise;
  display: flex;
  align-items: center;
  height: 39px;
  padding: 0 10px ;
  font-size: 20px;
  border: 1px solid black;
  border-left: none;
}
/* 2 divs side by side */
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1024px) {
  .search{
    width: 80%;
  }
  #mySelfGrid {
    height: auto;
    grid-template-columns: 1fr;
  }
}
