.news-navbar {
  background: linear-gradient(-45deg, #000000, #112031, #000000, #112031);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  top: 0;

}


.nav-link-box{
  padding-top: 20px;
}

.news-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: 500;
  color: snow;
}

.news-subTitle {
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
  color: #f5efe6;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .news-navbar.open {
    height: max-content;
  }
  .news-navbar.open .nav-link-box .list {
    display: block;
    text-align: right;
    padding: 10px 0;
    color: #f5efe6;
  }
}

